body {background-color: #9bcdff;}
header { 
 display:block;
 margin: 20px 10px 80px 10px;
}
/* ul {
	display: block;
	clear: left;
	margin: 20px 20;
} */
ul.gallery li {
/* display:inline; */
float: left;
margin: 0 10px;
padding: 5px 5px 25px 5px;
border: 1px solid #ddd;
border-color:#000;
background-color: #fff;
list-style: none;
/* overflow: auto; */
}

ul.gallery li a img {
	float: left;
	height: 200px;
	width:  200px;



-webkit-transition: -webkit-transform 0.5s ease-in-out;
-moz-transition: -webkit-transform 0.5s ease-in-out;
transition: transform 0.5s ease-in-out;

}


/* lets try a couple of other options with the transform
with attempting skew first... with the skew... it utilizes
x and y coordinates */


ul.gallery li a:hover img, a:focus img{
-webkit-transform: scale(1.5) skew(-5deg, 30deg);
-moz-transform: scale(1.5) skew(-5deg, 30deg);
-o-transform: scale(1.5) skew(-5deg, 30deg);
transform: scale(1.5) skew(-5deg, 30deg);
-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
box-shadow: 4px 4px 10px rgba(0,0,0,0.5);

}


section {
	clear: left;
	margin-bottom: 400px;
}


#trophies ul.gallery li a:hover img, a:focus img{
	-webkit-transform: scale(1.5) skew(5deg, 30deg);
	-moz-transform: scale(1.5) skew(5deg, 30deg);
	-o-transform: scale(1.5) skew(50deg, 30deg);
	transform: scale(1.5) skew(50deg, 30deg);
	-webkit-box-shadow: 40px 40px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 40px 40px 10px rgba(0,0,0,0.5);
	box-shadow: 40px 40px 10px rgba(0,0,0,0.5);
	
	}
